@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BNET SaaS</h1>
    <p class="lead">BNET SaaS</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to Sign Up</h2>
        <p>
            You can sign up for BNET SaaS by calling 1-800-123-4567 (not valid)
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Buy BNET SaaS </h2>
        <p>BNET SaaS provides the benefits of ....</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to Contact Support</h2>
        <p>BNET SaaS comes with 24/7/365 support. You can contact us at ......</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
